@namespace DriveHub.Views.Bookings
@model Create

@{
    ViewData["Title"] = "Make a reservation";
    var Vehicle = ViewBag.Vehicle;
}

<div class="booking-info" style="background-color: #f9f9fc; padding: 20px; border-radius: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); border: 1px solid #dee2e6;">
    <h1 class="" style="">Reserve a Vehicle</h1>
    <p class="text-center">Reserve @Vehicle.Name the @Vehicle.Make @Vehicle.Model for the next hour</p>

    <div class="mb-3" style="background-color: #f8f9fa; border-radius: 8px; border: 1px solid #dee2e6;">
        <div class="text-center p-2 fw-bold fs-4" style="background-color: #FFBA17; border-radius: 8px 8px 0 0;">Creating a Reservation</div>

        <div class="d-flex align-items-center p-3 flex-wrap">
            <i class="bi bi-geo-alt-fill fs-2 me-3" style="color: #00A8E8;"></i>
            <div>
                <p class="mb-0">Pickup at DriveHub @Vehicle.Pod.Site.SiteName Pod #@Vehicle.Pod.PodName</p>
                <small>@Vehicle.Pod.Site.Address, @Vehicle.Pod.Site.City</small>
            </div>
        </div>

        <div class="row p-3">
            <!-- Left Content Column -->
            <div class="col-lg-6 col-md-12 mb-3">
                <ul class="list-group" style="border-radius: 8px; overflow: hidden; border: 1px solid #dee2e6;">
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Vehicle:</strong> <span>@Vehicle.Name the @Vehicle.Make @Vehicle.Model</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Registration:</strong> <span>@Vehicle.RegistrationPlate</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Year:</strong> <span>@Vehicle.Year</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Seats:</strong> <span>@Vehicle.Seats</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Category:</strong> <span>@Vehicle.VehicleRate.Description</span>
                    </li>
                </ul>
                <div class="text-end mt-3">
                    <a asp-action="Search" class="my-2 btn btn-blue fw-bold" style="border-radius: 8px;">Find another car close by?</a>
                </div>
            </div>

            <!-- Car Image Section -->
            <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center mb-3">
                <img class="img-fluid rounded"
                     src="https://drivehubstorage.blob.core.windows.net/vehicles/@{@Vehicle.VehicleId}.jpg"
                     style="max-width: 100%; height: auto; object-fit: cover; transition: transform 0.3s ease-in-out; border-radius: 8px; max-height: 300px;"
                     onmouseover="this.style.transform='scale(1.05)'"
                     onmouseout="this.style.transform='scale(1)'">
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="p-2 fw-bold fs-4 text-center" style="background-color: #FFBA17; border-radius: 8px;">Booking Cost</div>
        <div class="text-center bg-white p-3 pb-0" style="border: 1px solid #dee2e6; border-radius: 8px;">
            <p class="mb-0">Per Hour (pro-rata):</p>
            <p class="fw-bold fs-1">$<span id="price-per-hour">@Vehicle.VehicleRate.PricePerHour.ToString("F2")/hr</span></p>
        </div>
    </div>

    <div class="text-center">
        <form asp-action="Create">
            <input type="hidden" asp-for="VehicleId" value="@Vehicle.VehicleId" />
            <span asp-validation-for="VehicleId" class="text-danger"></span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StartPodId" value="@Vehicle.Pod.PodId" />
            <input type="hidden" asp-for="QuotedPricePerHour" value="@Vehicle.VehicleRate.PricePerHour" />
            <input type="submit" value="Create Reservation" class="btn btn-success mb-4 fw-bold fs-4" style="border-radius: 8px;"/>
        </form>
    </div>

    <div class="text-center p-2 fw-bold fs-4" style="background-color: #FFBA17; border-radius: 8px;">Pickup Location</div>
    <div id="map" style="height: 400px; width: 100%; background-color: #f8f9fa; border-radius: 8px;"></div>
</div>


@{
    @section Scripts {
        <script>
            function initMap() {
                // Init Google Map
                let map = new google.maps.Map(document.getElementById("map"), {
                    center: { lat: @Vehicle.Pod.Site.Latitude, lng: @Vehicle.Pod.Site.Longitude },
                    zoom: 19,
                    mapTypeId: "roadmap",
                    mapId: "DRIVEHUB_CREATE"
                });
                new google.maps.marker.AdvancedMarkerElement({
                    map,
                    title: "Vehicle",
                    position: { lat: @Vehicle.Pod.Site.Latitude, lng: @Vehicle.Pod.Site.Longitude }
                })
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBRV0yLBAMIA53_1Y3_TW-HD-RPgTDdxc&callback=initMap&v=weekly&libraries=marker,places,geometry&loading=async"
                defer>
        </script>
    }
}
