@model DriveHub.Models.Dto.ReservationDto

@{
    ViewData["Title"] = "Make a reservation";
}

<h1>@ViewBag.Title</h1>
<p>Make a 1hr reservation for @ViewBag.Vehicle</p>
<div class="mb-3" style="background-color: #f8f9fa;">
    <div class="p-2 fw-bold fs-4" style="background-color: #FFBA17;">
        Booking Details
    </div>
    <div class="d-flex align-items-center mb-3">
        <i class="bi bi-geo-alt-fill fs-2 me-3"></i>
        <div>
            <p class="mb-0">Pickup DriveHub @ViewBag.StartPod</p>
            <small>@ViewBag.StartSite</small>
        </div>
    </div>
</div>
<form asp-action="Create">
    <div class="row">
        <div class="col p-3">
            <label class="form-label">Car</label>
            <div class="form-control">@ViewBag.Vehicle</div>
            <input type="hidden" asp-for="VehicleId" value="@ViewBag.VehicleId" />
            <span asp-validation-for="VehicleId" class="text-danger"></span>
            <a asp-action="Search" class="small text-right mt-1 btn btn-primary">Find another car close by?</a>
        </div>
        <div class="col container-fluid pb-3">
            <img class="img-fluid" src="https://drivehubstorage.blob.core.windows.net/vehicles/@{
                        @ViewBag.VehicleId
}.jpg" style="max-width:350px;">
        </div>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="StartPodId" value="@ViewBag.StartPodId" />
    <input type="hidden" asp-for="QuotedPricePerHour" value="@ViewBag.PricePerHour" />
    <div class="booking-section mb-3">
        <div class="p-2 fw-bold fs-4" style="background-color: #FFBA17;">Booking Cost</div>
        <div class="cost-section text-center bg-white p-3" style="border: 1px solid #dee2e6;">
            <p class="mb-0">Per Hour (pro-rata):</p>
            <p class="fw-bold fs-1">$<span id="price-per-hour">@ViewBag.PricePerHour.ToString("F2")</span><hr></p>
            <hr />
        </div>
    </div>
    <div class="text-center">
        <input type="submit" value="Create" id="create-button" class="btn btn-primary mb-4 fw-bold text-white fs-4" />
        <a asp-action="Search" id="cancel-button" class="btn btn-danger mb-4 fw-bold text-white fs-4">Cancel</a>
    </div>
</form>
<div id="map" style="height: 400px; width: 100%; background-color: #f8f9fa;" class="col-12"></div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");

    @section Scripts {
        <script>
            function initMap() {
                // Init Google Map
                let map = new google.maps.Map(document.getElementById("map"), {
                    center: { lat: @ViewBag.StartSiteLatitude, lng: @ViewBag.StartSiteLongitude },
                    zoom: 19,
                    mapTypeId: "roadmap",
                    mapId: "DRIVEHUB_CREATE"
                });
                new google.maps.marker.AdvancedMarkerElement({
                    map,
                    title: "Vehicle",
                    position: { lat: @ViewBag.StartSiteLatitude, lng: @ViewBag.StartSiteLongitude }
                })
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBRV0yLBAMIA53_1Y3_TW-HD-RPgTDdxc&callback=initMap&v=weekly&libraries=marker,places,geometry&loading=async"
                defer>
        </script>
    }
}