@model DriveHubModel.Booking
@using DriveHubModel
@{
    ViewData["Title"] = "Current booking";

    var Vehicle = Model.Vehicle;
}

<style>
    .booking-info h1 {
        color: black;
        font-weight: 400;
    }
</style>

<div class="booking-info">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <p class="text-center">Your booking for @Model.Vehicle.Name the @Model.Vehicle.Make @Model.Vehicle.Model.</p>
    @if (Model.BookingStatus == BookingStatus.Reserved) {
        <p class="text-danger">TODO: big warning about current reservation time remaining, maybe the QR code here?</p>
    }

    <div class="mb-3" style="background-color: #f8f9fa;">
        <div class="text-center p-2 fw-bold fs-4" style="background-color: #FFBA17;">Booking Details</div>
        <div class="d-flex align-items-center p-3">
            <i class="bi bi-geo-alt-fill fs-2 me-3"></i>
            <div>
                <p class="mb-0">Pickup DriveHub @Model.StartPod.Site.SiteName Pod #@Model.StartPod.PodName</p>
                <small>@ViewBag.StartSite</small>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-lg-6">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Booking Status:</strong> <span>@Model.BookingStatus</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Vehicle:</strong> <span>@Vehicle.Name the @Vehicle.Make @Vehicle.Model</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Registration:</strong> <span>@Vehicle.RegistrationPlate</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Year:</strong> <span>@Vehicle.Year</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Seats:</strong> <span>@Vehicle.Seats</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Category:</strong> <span>@Vehicle.VehicleRate.Description</span>
                    </li>
                    @* If Booking is currently in reservation state, show how long it's reserved for and a button to extend the reservation *@
                    @if (Model.BookingStatus == BookingStatus.Reserved) {
                        <li class="list-group-item d-flex justify-content-between">
                            <strong>Reserved Until:</strong> <span>@Model.Expires</span>
                        </li>
                        @* only show the extend reservation button if the booking has not yet been extended *@
                        @if (!Model.IsExtended) {
                            <div class="text-end">
                                <a asp-action="Extend" asp-route-id="@Model.BookingId" class="my-2 btn text-white" style="background-color: #00A8E8;">
                                    Extend reservation by 30 minutes
                                </a>
                            </div>
                        }
                    }
                    @* Show a booking's start date if it has one *@
                    @if (@Model.StartTime != null) {
                        <li class="list-group-item d-flex justify-content-between">
                            <strong>Pick up time:</strong> <span>@Model.StartTime</span>
                        </li>
                    }
                    @* Show a booking's end date if it has one *@
                    @if (@Model.EndTime != null) {
                        <li class="list-group-item d-flex justify-content-between">
                            <strong>Drop off time:</strong> <span>@Model.EndTime</span>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded w-100" src="https://drivehubstorage.blob.core.windows.net/vehicles/@{@Vehicle.VehicleId}.jpg">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="p-2 fw-bold fs-4 text-center" style="background-color: #FFBA17;">Booking Cost</div>
        <div class="text-center bg-white p-3 pb-0" style="border: 1px solid #dee2e6;">
            <p class="mb-0">Per Hour (pro-rata):</p>
            <p class="fw-bold fs-1">$<span id="price-per-hour">@Model.Vehicle.VehicleRate.PricePerHour.ToString("F2")/hr</span></p>
            @* If the booking has an invoice show the total cost to the user *@
            @if (@Model.Invoice != null) {
                <hr>
                <p class="mb-0">@(@Model.EndTime != null ? "" : "Current ")Total:</p>
                <p class="fw-bold fs-1">$<span id="total-cost">@(Model.Invoice.Amount.ToString("F2"))</span></p>
            }
        </div>
    </div>
</div>

@* Conditional Buttons Section (Buttons displayed to the user depend on the booking status) *@
<div class="booking-buttons text-center">
    @if (Model.BookingStatus == BookingStatus.Reserved)
    {
        <form asp-controller="Bookings" asp-action="Cancel" asp-route-id="@Model.BookingId" method="post">
            <a asp-controller="Vehicles" asp-action="Pickup" asp-route-id="@Model.VehicleId" class="btn btn-success mb-4 fw-bold text-white fs-4">
                Pickup vehicle
            </a>
            <input type="submit" value="Cancel Booking" class="btn btn-danger mb-4 fw-bold text-white fs-4" />
        </form>
    }
    else if (Model.BookingStatus == BookingStatus.Collected)
    {
        <a asp-controller="Vehicles" asp-action="Dropoff" asp-route-id="@Model.VehicleId" class="btn btn-success mb-4 fw-bold text-white fs-4">
            Return vehicle
        </a>
    }
    else if (Model.BookingStatus == BookingStatus.Unpaid)
    {
        <form asp-action="Pay">
            <input type="hidden" asp-for="BookingId" />
            <input type="submit" value="Pay" class="btn btn-success mb-4 fw-bold text-white fs-4" />
        </form>
    }
    <hr />
</div>

<div id="map" style="height: 400px; width: 100%; background-color: #f8f9fa;" class="col-12"></div>

@section Scripts {
    <script>
        function initMap() {
            // Init Google Map
            const map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: @Model.StartPod.Site.Latitude, lng: @Model.StartPod.Site.Longitude },
                zoom: 19,
                mapTypeId: "roadmap",
                mapId: "DRIVEHUB_DETAILS"
            });
            new google.maps.marker.AdvancedMarkerElement({
                map,
                title: "Vehicle",
                position: { lat: @Model.StartPod.Site.Latitude, lng: @Model.StartPod.Site.Longitude }
            })
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBRV0yLBAMIA53_1Y3_TW-HD-RPgTDdxc&callback=initMap&v=weekly&libraries=marker,places,geometry&loading=async"
            defer>
    </script>
}
