@model DriveHubModel.Booking
@using DriveHubModel
@{
    ViewData["Title"] = "Current booking";
}

<style>
    .booking-section {
        background-color: #f8f9fa;
    }
</style>

<h1>@ViewData["Title"]</h1>
@ViewBag.Message
<p>Your booking for @Model.Vehicle.Name the @Model.Vehicle.Make @Model.Vehicle.Model.</p>
<div class="booking-section mb-3">
    <div class="text-center p-2 fw-bold mb-3 fs-4 text-white" style="background-color:green;">
        @Model.BookingStatus
    </div>
    <div class="d-flex align-items-center mb-3">
        <i class="bi bi-geo-alt-fill fs-2 me-3"></i>
        <p class="mb-0">Pickup DriveHub @Model.StartPod.Site.SiteName Pod #@Model.StartPod.PodName</p>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12 col-md-8 mb-3">
            <label class="form-label">Car</label>
            <div class="form-control">@Model.Vehicle.Name the @Model.Vehicle.Make @Model.Vehicle.Model. @Model.Vehicle.RegistrationPlate</div>
        </div>
        <div class="col-xs-12 col-md-4 container-fluid mb-3">
            <img class="img-fluid" src="https://drivehubstorage.blob.core.windows.net/vehicles/@{
                    @Model.Vehicle.VehicleId
}.jpg" style="max-width:250px;">
        </div>
        <div class="pb-2">
            <label for="StartTime" class="form-label">Reserved till</label>
            <input class="form-control" name="ReservationExpires"
                   value="@Model.Expires" disabled />
        </div>
    </div>
    <div class="cost-section text-center bg-white p-3" style="border: 1px solid #dee2e6;">
        <p class="mb-0">Per Hour:</p>
        <p class="fw-bold fs-1">$@Model.PricePerHour.ToString("F2")</p>
    </div>
    <div class="text-center">
        @if (Model.IsExtended == false && Model.BookingStatus == BookingStatus.Reserved)
        {
            <a asp-controller="Vehicles" asp-action="Pickup" asp-route-id="@Model.VehicleId" class="btn btn-success mb-4 fw-bold text-white fs-4">
                Pickup vehicle
            </a>
            <a asp-action="Extend" asp-route-id="@Model.BookingId" class="btn btn-primary mb-4 fw-bold text-white fs-4">
                Extend booking for 30mins
            </a>
            <a asp-action="Cancel" asp-route-id="@Model.BookingId" class="btn btn-danger mb-4 fw-bold text-white fs-4">
                Cancel booking
            </a>
        }
        else if (Model.BookingStatus == BookingStatus.Reserved)
        {
            <a asp-controller="Vehicles" asp-action="Pickup" asp-route-id="@Model.VehicleId" class="btn btn-success mb-4 fw-bold text-white fs-4">
                Pickup vehicle
            </a>
            <a asp-action="Cancel" asp-route-id="@Model.BookingId" class="btn btn-danger mb-4 fw-bold text-white fs-4">
                Cancel booking
            </a>
        }
        else if (Model.BookingStatus == BookingStatus.Collected)
        {
            <a asp-controller="Vehicles" asp-action="Dropoff" asp-route-id="@Model.VehicleId" class="btn btn-primary mb-4 fw-bold text-white fs-4">
                Return vehicle
            </a>
        }
        <hr />
    </div>
</div>

<div id="map" style="height: 400px; width: 100%; background-color: #f8f9fa;" class="col-12"></div>

@section Scripts {
    <script>
        function initMap() {
            // Init Google Map
            const map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: @Model.StartPod.Site.Latitude, lng: @Model.StartPod.Site.Longitude },
                zoom: 19,
                mapTypeId: "roadmap",
                mapId: "DRIVEHUB_DETAILS"
            });
            new google.maps.marker.AdvancedMarkerElement({
                map,
                title: "Vehicle",
                position: { lat: @Model.StartPod.Site.Latitude, lng: @Model.StartPod.Site.Longitude }
            })
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBRV0yLBAMIA53_1Y3_TW-HD-RPgTDdxc&callback=initMap&v=weekly&libraries=marker,places,geometry&loading=async"
            defer>
    </script>
}