@using DriveHubModel;
@model IEnumerable<Booking>
@{
    ViewData["Title"] = "Past Bookings";
}

<style>
    a.booking-link :hover {
        background-color: #dddddd;
    }

    .img-fluid, img-fluid {
        border-radius: 15px;
        vertical-align: middle;
    }
</style>

<h1>@ViewData["Title"]</h1>
<p>Here are your completed bookings.</p>

@foreach (var booking in Model)
{
    <div class="row">
        <a asp-action="Details" asp-route-id="@booking.BookingId" class="booking-link text-decoration-none car-item">
            <div class="row border my-3 container-fluid">
                <div class="col-xs-12 col-sm-3 col-lg-4">
                    <img class="img-fluid" src="https://drivehubstorage.blob.core.windows.net/vehicles/@{@booking.VehicleId}.jpg" style="max-width:150px;">
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-8">
                    <div class="mb-0 text-decoration-none text-dark"><b>@booking.Vehicle.Name the @booking.Vehicle.Make @booking.Vehicle.Model</b></div>
                    <div class="mb-0 text-decoration-none text-dark">Pickup at @booking.StartTime @booking.StartPod.Site.SiteName Pod #@booking.StartPod.PodName</div>
                    <div class="mb-0 text-decoration-none text-dark">Drop off at @booking.EndTime @booking.EndPod.Site.SiteName Pod #@booking.EndPod.PodName</div>
                </div>
            </div>
        </a>
    </div>
}