@model DriveHubModel.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <div class="row">
        <div class="col-xs-12 col-md-4 mb-4">
            <img class="img-fluid" src="/images/vehicles/@(@Model.VehicleId).jpg" />
        </div>
        <div class="col-xs-12 col-md-8">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Make)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Make)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Model)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Model)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.RegistrationPlate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.RegistrationPlate)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.State)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.State)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Year)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Year)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Seats)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Seats)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Colour)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Colour)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.VehicleRate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.VehicleRate.Description)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Pod)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Pod.PodName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.IsReserved)
                </dt>
                <dd class="col-sm-9 form-check form-switch">
                    <input asp-for="IsReserved" class="form-check-input" type="checkbox" role="switch" disabled>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VehicleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
