@model DriveHubModel.Booking
@using DriveHubModel
@{
    ViewData["Title"] = "Vehicle Drop off";
}

<style>
    .success-checkmark {
        color: green;
        font-size: 4rem;
    }
    .detail-row {
        padding: 0.75rem;
        border-bottom: 1px solid #e5e7eb;
    }
    .detail-row:last-child {
        border-bottom: none;
    }
    .detail-label {
        font-weight: 500;
        color: #4b5563;
    }
</style>

<div class="dropoff-page">
    <div class="success-checkmark text-center">✓</div>
    <h1 class="text-center fw-normal text-dark">Vehicle Dropped Off!</h1>
    <p class="lead text-muted mb-3 text-center">
        You have successfully dropped off @Model.Vehicle.Name the @Model.Vehicle.Make @Model.Vehicle.Model.
        <br>Ensure you have all your personal belongings and exit the car.
    </p>

    @* Drop off details *@
    <div class="card shadow-lg mb-3">
        <div class="card-body p-4">
            <h3 class="text-center h4 mb-4">Pick up Details</h3>
            <div class="row g-4">
                <div class="col-md-4">
                    <img class="img-fluid rounded-3" src="https://drivehubstorage.blob.core.windows.net/vehicles/@{@Model.Vehicle.VehicleId}.jpg" alt="Vehicle Image">
                </div>
                <div class="col-md-8">
                    <div class="detail-row d-flex justify-content-between">
                        <span class="detail-label">Start Time</span>
                        <span class="detail-value">@Model.StartTime</span>
                    </div>
                    <div class="detail-row d-flex justify-content-between">
                        <span class="detail-label">End Time:</span>
                        <span class="detail-value">@Model.EndTime</span>
                    </div>
                    <div class="detail-row d-flex justify-content-between">
                        <span class="detail-label">Pick up location</span>
                        <span class="detail-value">@Model.StartPod.Site.SiteName Pod #@Model.StartPod.PodName</span>
                    </div>
                    <div class="detail-row d-flex justify-content-between">
                        <span class="detail-label">Vehicle</span>
                        <span class="detail-value">@Model.Vehicle.Name the @Model.Vehicle.Make @Model.Vehicle.Model</span>
                    </div>
                    <div class="detail-row d-flex justify-content-between">
                        <span class="detail-label">License</span>
                        <span class="detail-value">@Model.Vehicle.RegistrationPlate</span>
                    </div>
                    <div class="detail-row d-flex justify-content-between">
                        <span class="detail-label">Colour</span>
                        <span class="detail-value">@Model.Vehicle.Colour</span>
                    </div>
                    <div class="detail-row d-flex justify-content-between">
                        <span class="detail-label">Year</span>
                        <span class="detail-value">@Model.Vehicle.Year</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Instructions *@
    <div class="card shadow-lg mb-3">
        <div class="card-body p-4">
            <h3 class="text-center h4 mb-4">Drop off Instructions</h3>
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="p-3">
                        <div class="mb-4">
                            <h5 class="mb-3">🔒 Check for Personal Belongings</h5>
                            <p class="text-muted">
                                Before concluding your journey, please take a moment to ensure that you have removed all personal belongings from the vehicle.
                            </p>
                            </p>
                        </div>
                        <div>
                            <h5 class="mb-3">🔒 Secure the Vehicle</h5>
                            <p class="text-muted">
                                Once you exit the car, it will automatically lock to ensure its security. Please verify that the doors are closed securely before leaving.
                            </p>
                        </div>
                        <div>
                            <h5 class="mb-3">💳 Complete Your Payment</h5>
                            <p class="text-muted">
                                To finalize your trip, please complete the payment for your booking using the button below.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid rounded-3" src="https://drivehubstorage.blob.core.windows.net/website/Booking4.jpg" alt="booking4">
                </div>
            </div>
        </div>
    </div>

    @* Buttons *@
    <div class="text-center">
        <form asp-controller="Bookings" asp-action="Pay">
            <input type="hidden" asp-for="BookingId" />
            <input type="submit" value="Pay for Booking" class="btn btn-success mb-4 fw-bold text-white fs-4" />
            <a asp-controller="Bookings" asp-action="Details" asp-route-id="@Model.BookingId" class="btn btn-blue mb-4 fw-bold text-white fs-4">
                Booking Details
            </a>
        </form>
    </div>

    @* Help *@
    <div class="card shadow-lg">
        <div class="card-body p-4">
            <h3 class="text-center h5 mb-4">Need Help?</h3>
            <div class="d-grid gap-3 col-md-8 mx-auto">
                <a asp-controller="Home" asp-action="ContactUs"
                    class="btn btn-outline-danger action-btn">
                    24/7 Support
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {

}
